<h1>Card Details</h1>

<div class="texts">

<ul>
Name of the card: <input type="text" >
</br> </br>
Card Number: <input type="text" > 
</br> </br>
Expiry Date: <input type="text" > 
</br> </br>
CVV digits : <input type="text" >
</ul>


</div>

<div>
</br>
<a href="ratings" <button>Make Payment</button> </a>
</div>
