<div>
    <h1>People who are requesting</h1>

    <strong>Pearl</strong>  <button>Accept</button> <button>Decline</button>
    <br>
    <br>
    <strong>John</strong>  <button>Accept</button> <button>Decline</button>
    <br>
    <br>
    <strong>Pretty</strong>  <button>Accept</button> <button>Decline</button>
</div>