<h1>Card Details</h1>

<div class="texts">

<ul>
Name of the card: <input type="text" >
</br> </br>
Card Number: <input type="text" > 
</br> </br>
Expiry Date: <input type="text" > 
</br> </br>
CVV digits : <input type="text" >
</ul>


</div>

<div>
</br>
<button>Make Payment</button> 
<br>
<br>

<a href="ratings"><button>Please Rate Us</button> </a>

</div>
