<div class="cashMoni">
    <p>
    <strong>Car Detailer is on their way! Make sure you have enough cash :)</strong>
  
</p>
<div class="gif">
      <img src="Webp.net-resizeimage.gif">
</div>

</div>




