<div class="container">
    <h1>WELCOME TO MOBILE CAR WASH!</h1>

<img src="car.jpg">

<div class="btnCar">
    <a href="cardetailer">
        <button>Car Detailer</button>
    </a>
    <a href="service">
    <button>Car Owner</button>
    </a>
</div>


</div>
