<div class="container">
    <h1>WELCOME TO MOBILE CAR WASH!</h1>


{{!-- background image --}}
{{!-- links for car detailer and car owner --}}
<button><a href="/cardetailer">Car Detailer </a></button> 
<button><a href="/service">Car Owner </a></button> 

</div>
