<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Payment Method</title>
</head>
<body>
<div class="container">
<div class="cash">
    <button><a href="cash.handlebars">Cash</a></button></br>
    </br>
</div>
<div>
    <button><a href="card.handlebars">Card</a></button>
</div>
</body>
</html>